anyio~=3.6.2
asgiref==3.7.2
autohooks==23.4.0
certifi~=2019.3.9
colorful==0.5.5
Django~=4.2.1
django-cors-headers==4.1.0
djangorestframework==3.14.0
exceptiongroup==1.1.1
h11~=0.9.0
h2==4.1.0
hpack==4.0.0
httpcore~=0.16.3
httpx~=0.23.3
hyperframe==6.0.1
idna~=2.8
lxml==4.9.2
markdown-it-py==3.0.0
mdurl==0.1.2
packaging~=21.3
pontos==23.6.0
Pygments==2.15.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
rest-framework-simplejwt==0.0.2
rich~=12.6.0
semver~=2.13.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tomlkit==0.11.8
typing_extensions==4.6.3

requests~=2.31.0
pytest~=7.2.1
dataclasses~=0.6
cryptography~=3.3.2
jupyter~=1.0.0
pip~=23.1.2
attrs~=22.1.0
build~=0.10.0
toml~=0.10.2
wheel~=0.40.0
Pillow~=8.3.2
docutils~=0.17.1
tornado~=6.2
Jinja2~=2.11.3
uuid~=1.30
keyring~=23.5.0
beautifulsoup4~=4.11.1
PyYAML~=5.4.1
trio~=0.22.0
outcome~=1.2.0
click~=7.1.2
mysqlclient~=2.1.1
psycopg~=3.1.8
colorama~=0.4.4
numpy~=1.23.5
validators~=0.20.0
ipython~=8.7.0
MarkupSafe~=2.1.1
httplib2~=0.20.2
django-allauth~=0.39.1
jwt~=1.3.1
PyJWT~=2.6.0
itypes~=1.2.0
coreapi~=2.3.3
coreschema~=0.0.4
uritemplate~=4.1.1
google-api-python-client~=2.86.0
inflection~=0.5.1
oauthlib~=3.0.1
blinker~=1.6.2
urllib3~=2.0.2
chardet~=3.0.4
pycparser~=2.21
setuptools~=67.8.0
Cython~=0.29.33
future~=0.18.2
bcrypt~=4.0.1
Markdown~=3.4.1